html {
    min-height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container {
    width: 90vw;
    height: 85vh;
    border-radius: 5px;
    border: solid black 1px;
}

.title-container {
    padding: 5px;
}

.alert-card-inputs-container {
    width: 100%;
    height: auto;
    margin-top: 20px;
    /* border: solid; */
}

.card-cvc-amount-container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    /* border: solid; */
}

.user-data-container {
    display: flex;
    flex-direction: row;
}

.firstname-city-radio{
    margin-top: 15px !important;
    padding-left: 15px !important;
    border: solid blue;
}

.card-radio-input-container {
    width: 50%;
    height: auto;
    /* border: solid black; */
}

.card-radio-input {
    width: 95% !important;
    height: 40px !important;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
    padding-left: 6px;
    border-radius: 5px;
    /* border: solid greenyellow; */
}

.card-radio-input form-check-inline {
    margin-right: 5px !important;
}

.ln-state-zip-msg-container {
    margin-top: 15px !important;
    border: solid;
}





/* 
.names-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border: solid;
}

.city-state-zip-container {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    border: solid cyan;
} */